// 去掉界面中默认的间距
* {
  margin: 0px;
  padding: 0px;
}

// 去掉ul li的默认间距和圆点样式
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix {

  &::before{
    content: "";
    clear: both;
    display: block; //添加这句话，父标签才撑得起来
  }

  &::after{
    content: "";
    clear: both;
    display: block;
  }
}

.tab-item {
  color: #00bff6;
}

.router-link-active-heyzqt {
  // color: orange !important;
  // background-color: pink;
}

.container {
  padding-top: 40px;
  padding-bottom: 55px;
}

.bottom-bar {
  display: flex;
}

.tab-item {
  flex: 1;
}

.line {
  height: 1px;
  background-color: #ccc;
  margin: 5px 0px 12px 0px;
}

.ball {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 100%;
  position: absolute;
  z-index: 99;
  top: 389px;
  left: 122px;
}

.cart-box {
  position: relative;

  .cart-num {
    position: absolute;
    left: 45px;
    top: 4px;
  }
}

.goods-container {
  background-color: #eeecef;

  .card-box {
    background-color: #fff;
    margin: 10px 10px 10px 10px;
    box-shadow: 4px 4px 8px #ccc;
    padding: 10px;

    .remind {
      font-weight: bold;
      font-size: 16px;
      color: red;
    }

    .line {
      height: 1px;
      background-color: #ccc;
      margin: 5px 0px 12px 0px;
    }
  }

  .good-title {
    font-size: 16px;
  }

  .good-buy-box {
    font-size: 14px;

    .buy-num {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .good-parameter {
    color: #888;
    font-size: 14px;
    line-height: 20px;
  }

  .btn-goods-info {
      margin-top: 10px;
      font-size: 14px;
  }
}
